html{
    --bg: #fcfcfc;
    --textcolor : #151414;
}
html[data-theme="dark"]
{
    --bg: #151414;
    --textcolor : #fcfcfc;
}
body{
    background-color: var(--bg);
}
h1{
    color:var(--textcolor);
    text-align: center;
}
h3{
    color : var(--textcolor);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.block-title{
    padding-top:1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 92% 8%;
}
.title{
    position: relative;
    height : auto;
    width : 60.5%;
    left : 25%;
}
.backcard{
    position: relative;
    padding-right: 100px;
    width:30%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    
}
.gameinfo{
    display: grid;
    grid-template-rows: 25% 75%;
    gap : 0.5em;
}
.display1{
    height : 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid;
    border-color: var(--textcolor);
    border-radius : 30px;
    color : var(--textcolor);
    text-align: center;
}
.cardfound{
    height : 40rem;
    width : auto;
    border: 1px solid;
    border-color: var(--textcolor);
    border-radius : 30px;
}
.displaynone
{
    display: none !important;
}
#niveau{
    text-align: center;
    display: block;
    color: var(--textcolor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-bottom
{
    padding-top : 1em;
}
#footer{
    display: block;
    font-weight: bold;
    color: var(--textcolor);
}
input[type="button"]
{
    position: relative;
    width : auto;
    height : auto;
    border-radius: 5px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .2);
}
input[type="checkbox"]
{
    position: relative;
    width : 80px;
    height : 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    background-image: url(../img/theme/soleil.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}
input:checked[type="checkbox"]
{
    background-image: url(../img/theme/lune.png);
    background-position: left;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 0.5s;
}
input:checked[type="checkbox"]:before{
    left: 40px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition : all 1s !important;
    transition-delay : 0 !important;
}
